body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* Fixed Navbar at the top with white background and shadow */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 60px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-links li {
  display: inline;
}

.nav-links li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-links li a:hover {
  background-color: #f8f8f8; /* Light grey background on hover */
}

.navbar-logo-img {
  height: 60px;
  width: 60px;
}
.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* General layout */
.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Contact information panel */
.contact-info {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-info h3 {
  margin-top: 0;
  color: #333;
}

/* Form styling */
.contact-form {
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.contact-form textarea {
  height: 100px;
  resize: vertical;
}

.contact-form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  background-color: #0056b3;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .contact-page {
    padding: 10px;
  }

  .contact-info,
  .contact-form {
    width: 100%;
  }
}

.home-page {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section {
  padding: 50px 0;
  background: #f4f4f4; /* Light grey background for the hero section */
  margin-bottom: 30px;
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  gap: 15px;
}

.hero-section h1 {
  color: #333; /* Dark grey color for the heading */
  font-size: 2.5em;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.hero-section-1 {
  display: flex;
  align-items: center;
}

.hero-section-1 a {
  display: inline-block;
  margin: 0 10px;
  background-color: #fff;
  color: #000;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.hero-section-1 a:hover {
  background-color: #007bff;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.hero-section-1 svg {
  vertical-align: middle;
}

/* Responsive design */
@media (max-width: 768px) {
  .home-page {
    padding: 25px;
  }

  .hero-section h1 {
    font-size: 2em;
  }

  .hero-section p {
    font-size: 0.9em;
  }
}

.projects-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  height: 200px; /* Or 'auto' for automatic height */
  object-fit: cover; /* Keeps the aspect ratio, and crops the image */
  border-radius: 4px;
  margin-bottom: 15px;
}

.project h2 {
  font-size: 1.5em;
  color: #333;
}

.project h3 {
  font-size: 1.2em;
  color: #666;
}

.project p,
.project ul {
  text-align: left;
}

.project ul {
  list-style-type: disc;
  margin-left: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
  }
}

.services-page {
  padding: 20px;
  /* text-align: center; */
  max-width: 1200px;
  margin: 0 auto;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.service {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.service-image {
  width: 100%;
  height: 200px; /* Or 'auto' for automatic height */
  object-fit: cover; /* Keeps the aspect ratio, and crops the image */
  border-radius: 4px;
  margin-bottom: 15px;
}

.service h2 {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.service p {
  font-size: 1em;
  color: #666;
}

.service:hover {
  transform: translateY(-5px); /* Slight lift effect on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}

.card {
  width: 200px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.skills,
.tools {
  text-align: left;
  margin-top: 20px;
}

.resume-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.about-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}
